@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(https://fonts.googleapis.com/css?family=Lato:100);

/*Formatação CSS Layout*/



/***********************************************************************************************************************
												FORMATAÇÃO PESQUISA USER
***********************************************************************************************************************/
.window_pesquisaFunc {
	position: relative;
	width: 1170px;
	height: auto;
	background-color: #ffffff;
	font-family: 'Lato 100', sans-serif;
	font-weight: lighter;
	color: #808080;
	margin: 0 auto;
	z-index: 30;
	text-align: left;
	border: 1px solid #808080;
}


.window_pesquisaFunc h1 {
	font-size: 25pt;
	text-align: left;
	text-transform: uppercase;
	margin: 2% 5%;
}

.window_pesquisaFunc fieldset {
	position: relative;
	font-family: 'lato' , sans-serif;
	font-size: 20pt;
	color: #808080;
	width: 450px;
	padding: 10px;
	font-weight: lighter;
	border: 2px solid #808080;
}


form#formFuncionario {
	position: relative;
	width: 500px;
	margin: 0 auto;
}

.window_pesquisaFunc input#inpFunc {
	position: relative;
	left: 5px;
	border-radius: 3px;
	width: 310px;
	margin: 0 1%;
	background: #fff;
	color: #808080;
	text-transform: uppercase;
	padding: 10px 0;
}

input#pesquisaFunc {
	position: relative;
	border-radius: 3px;
	float: right;
	top: -3px;
	width: 100px;
	margin: 5px 5px;
	color: #FFF;
	padding: 10px;
	cursor: pointer;

	background: #002c60; /* Old browsers */
	background: -moz-linear-gradient(top,  #002c60 0%, #002c60 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002c60), color-stop(100%,#002c60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #002c60 0%,#002c60 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #002c60 0%,#002c60 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #002c60 0%,#002c60 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #002c60 0%,#002c60 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c60', endColorstr='#002c60',GradientType=0 );
}

input#pesquisaFunc:hover {
	background: #FF3802;
	color: #fff;
}

.window_pesquisaFunc h1 {
	font-size: 30pt;
	font-family: 'Lato 100', sans-serif;
	font-weight: lighter;
	padding-top:20px ;
}


/***********************************************************************************************************************
												FORMATAÇÃO DIV DOWN
***********************************************************************************************************************/

/***********************************************************************************************************************
